# Ignore environment files
.env
BACKEND/.env
FRONTEND/.env

# Node modules
FRONTEND/node_modules/
BACKEND/node_modules/

# Build files
FRONTEND/build/
dist/

# OS-specific
.DS_Store
Thumbs.db

# Go binaries
*.exe
*.out
